/*brown*/
/*yellow*/
/*white*/
/*gray*/
/*black*/
/*center-box*/

body {
	font-family: 'Frijole',cursive;
}
/*box*/
.box {
	height:100vh;
	display: flex;
	align-items: center;

}
/*nav*/
.nav-link {
	font-size: 2em;
	font-style: italic;
	color: #F1D302!important;
}
.nav-link:hover {
	color: whitesmoke!important;
}
/*banner*/
#banner {
	height: 100vh;
	padding: 0 2.5rem;
	background:url(image1.jpg) fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-style: italic;
}
#banner h1 {
	font-size:2.7em;
	margin-bottom: 0.5rem;
	color: red;
}
#banner .card {
	border-radius: 0;
	background-color: transparent;
	border:0.3em solid whitesmoke;
}
.heading {
	padding-bottom: 2em;
}
.form-control {
	border-radius: 0;
	background-color: whitesmoke;
}
#banner .btn {
	border-radius: 3em;
	padding: 0.5em 2.5em;
	background-color: #F1D302;
	color: #2A2B2A!important;
}
#banner .btn:hover {
	color: #F1D302!important;
	background-color: #2A2B2A;
}
/*end of banner*/
/*title*/
.title-underline {
	width: 17em;
	border: 0.25em solid #F1D302;
	margin: 0 auto 3em auto;
}
/*title*/

/*skills*/
#skills .margin {
	margin-bottom: 2em;
}
#skills {
	padding: 2em;
	background-color: #706C61;
}
#skills .fa {
	font-size: 6em;
	color: #F1D302;
} 

/*skills end*/
/*prices*/
#prices {
	padding: 8em 2em;
	background:url(img2.jpg) fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}
#prices .title-underline {
	border-color: red;
}
#prices .title h1 {
	color: #F1D302;
}
#prices .card {
	margin-bottom: 2em;
	padding: 2em 1em;
}
#prices .money {
	font-size: 2em;
}
#prices .card a {
	background-color:#F1D302;
	padding: 0.5em 1em;
	color: #775253; 
}
#prices .card a:hover {
	background-color: #775253;
	color: #F1D302;
}
#prices hr {
	background-color: #775253;
	height: 0.1em;
}
/*prices end*/

/*team*/
#team {
	padding: 2em;
	background-color: #2A2B2A;
	color: #F8F4E3;
}
#team .card {
	color: #2A2B2A;
	margin-bottom: 2em;
}
#team a {
	background-color: #F1D302;
	color: whitesmoke;
	font-size: 1.5em;
}
#team a:hover {
	background-color: #775253;
}

/*team end*/

/*footer*/
#footer {
	padding: 4em 2em;
}
.footer-icons {
	font-size: 3em;
}
#footer .footer-icons a {
	color: #775253;
	text-decoration: none;
}
#footer .footer-icons a:hover {
	color:#F1D302; 
}
/*footer end*/

/*media*/
@media screen and (max-width:576px) {
	.box {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
/*media end*/